<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Boardgame Clustering & Recommendations</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
                <th>Game Id</th>
                <th>Game Name</th>
                <th>Average User Score</th>
                <th>Cluster Id</th>
            </tr>
         </thead>

         <tbody>
            {% for game in games %}
               <tr>
                   <td>{{ game.game_id }}</td>
                   <td>{{ game.name }}</td>
                   <td>{{ game.average_user_rating }}</td>
                   <td>{{ game.cluster }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('show_cluster_or_id') }}" method=post class=show-cluster-or-id>
      <dl>
          <input type=text size=15 name=game_id placeholder="Game ID">
          <input type=text size=15 name=game_name placeholder="Game Name">
          <input type=text size=15 name=cluster_id placeholder="Cluster ID">
          <input type=submit value=Get>
      </dl>
    </form>

</body>
</html>